input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 70px;
}

.bhr-no-border{
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-top: none;
    padding: 7px;
}

.bhr-split-panel{
    overflow-y: scroll;
    top: 0px;
    bottom: 0px;
    position: absolute;
    left: 0px;
    margin-top: 50px;
    padding-top: 15px;
    margin-bottom: 50px;
    border-right: solid
}

.bhr-divider{
    border-width: 1px;
    border-right: solid;
    border-right-width: thin;
    border-color: lightgrey;
}

.bhr-button-padding{
    padding-top: 5px;
    padding-bottom: 10px;
}

.bhr-side-spaces{
    padding-left: 20px;
    padding-right: 16px;
    padding-top: 10px;
}

.bhr-top-padding{
    padding-top: 50px;
}

.jga-toolbar {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.7;
}

.navbar-default {
    background-color: #428BCA;
    border-color: white;
}

/* title */
.navbar-default .navbar-brand {
    color: #f5fff5;
}



table td {
    border-top: none !important;
}


.abc{
    padding-top: 10px;
}

.glyphicon-plus{
    color: white;
}
.glyphicon-ok
{
    color:white;
}
.dow{
    padding-top:5px;
    padding-bottom: 10px;
}
.glyphicon-user{
    color: white;
}
.glyphicon-chevron-left{
    color: white;


}
.center-me{
    text-align: center
}