

<div>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-text pull-right">
    <a href="profile.view.client.html"><span class="glyphicon glyphicon-ok"></span></a>
    </div>
    <div class="navbar-header">
    <a class="navbar-brand" href="#">Profile</a>
    </div>
    </div>
    </nav>

    <div class="container-fluid bhr-top-padding" >

         <div class="alert alert-danger" ng-show="model.error">
                {{model.error}}
            </div>

            <div class="alert alert-success" ng-show="model.message">
                {{model.message}}
        </div>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <!--<input type="text" class="form-control" id="username" placeholder="Username">-->
                <input class="form-control" ng-model="model.user.username"
                                  
                                  type="text"
                                  placeholder="Username"/>

            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <!--<input type="email" class="form-control" id="email" placeholder="alice@wonderland.com">-->
                <input class="form-control" ng-model="model.user.email"
                                  id="email"
                                  
                                  type="email"
                                  placeholder="Email"/>

            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <!--<input type="text" class="form-control" id="first-name" placeholder="Alice">-->
                <input class="form-control" ng-model="model.user.firstName"
                                  id="first"
                                  
                                  type="text"
                                  placeholder="First Name"/>
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <!--<input type="text" class="form-control" id="last-name" placeholder="Wonderland">-->
                <input  class="form-control" ng-model="model.user.lastName"
                                  id="last"
                                  
                                  type="text"
                                  placeholder="Last Name"/>
            </div>
            <div class="form-group">
            <label >Password</label>
                <input class="form-control" type="password" placeholder="Password"/>
            </div>

        </form>

        <a class="btn btn-block btn-success" ng-click="model.update(model.user)">Update</a>
        <a class="btn btn-primary btn-block"
           href="#!/user/{{model.user._id}}/website/">Website</a>
        <a class="btn btn-danger  btn-block"
           href="#!/">Logout</a>
    </div>





        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-text pull-right ">
                    <a ng-click="model.routeProfile()">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </nav>
</div>