<div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-click="model.routeWidgetList()">
                <span class="glyphicon glyphicon-chevron-left">
            </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget(model.widget)"> <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Widget Edit</a>
        </div>
    </div>
</nav>
<div class="container">
    Name:
    <input type="text"
           ng-model="model.widget.widgetType"
           placeholder="Your Name"
           class="form-control"/>
    Text:
    <input type="text"
           ng-model="model.widget.text"
           placeholder="Text"
           class="form-control"/>
    URL:
    <input type="text"
           ng-model="model.widget.url"
           placeholder="URL"
           class="form-control"/>
    Width:
    <input type="number"
           ng-model="model.widget.width"
           placeholder="Width"
           class="form-control"/>

</div>

<div class="container bhr-button-padding">
    <a class="btn btn-danger btn-block"
       href="widget-list.html">Delete</a>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right ">
            <a ng-click="model.routeProfile()">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
</div>