<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a ng-click="model.routeWidgetList()">
                <span class="glyphicon glyphicon-chevron-left">
            </span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)"> <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Widget Edit</a>
            </div>
        </div>
    </nav>

<!--<div class="container">-->
    <!--Text:-->
    <!--<input type="text" placeholder="Text" ng-model="model.widget.text"-->
           <!--class="form-control"/>-->

<!--</div>-->


<!--<div class="container dow">-->
    <!--<a class="btn btn-primary btn-block"-->
       <!--ng-click="model.updateWidget(model.widget)"> Update Widget</a>-->
<!--</div>-->
<!--<div class="container">-->
    <!--<a class="btn btn-danger btn-block"-->
       <!--ng-click="model.deleteWidget()">Delete</a>-->
<!--</div>-->


<!--</div>-->

    <div class="form-group">
        <label for="model.widget.text">HTML Text</label>
        <div id="model.widget.text" ng-model="model.widget.text"
             text-angular
             ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'quote'],
            ['bold','italics','underline','strikeThrough',  'ul', 'ol', 'redo', 'undo', 'clear'],
            ['justifyLeft','justifyCenter','justifyRight','justifyFull'],
            ['indent','outdent'],['html']]">
        </div>
        <div class="form-group">
            <button ng-click="model.deleteWidget()" class="btn btn-block btn-danger">Delete</button>
        </div>
    </div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a ng-click="model.routeProfile()">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
</div>