
<div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-click="model.routeWidgetList()">
                <span class="glyphicon glyphicon-chevron-left">
            </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">

        <a ng-click="model.createNewHeaderWidget()">
            <li class="list-group-item bhr-no-border">Header</li>
        </a>

        <!--<li class="list-group-item bhr-no-border">Label-->

        <!--</li>-->
        <a ng-click="model.createAnewHTMLWidget()">
        <li  class="list-group-item bhr-no-border">HTML

        </li>
        </a>
        <a ng-click="model.createNewTextWidget()">
        <li class="list-group-item bhr-no-border">Text
        </a>
        </li>
        <!--<li class="list-group-item bhr-no-border">Link-->

        <!--</li>-->
        <!--<li class="list-group-item bhr-no-border">Button-->

        <!--</li>-->

        <a ng-click="model.createNewImageWidget()">
            <li class="list-group-item bhr-no-border">Image

            </li></a>

        <a ng-click="model.createNewYoutubeWidget()">
            <li class="list-group-item bhr-no-border">Youtube

            </li>
        </a>

        <!--<li class="list-group-item bhr-no-border">Data Table-->

        <!--</li>-->
        <!--<li class="list-group-item bhr-no-border">Repeater-->

        <!--</li>-->
    </ul>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right ">
            <a ng-click="model.routeProfile()">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
</div>
