<div class="col-md-5"  style="margin-top: 20%">
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color:black">
            <div class="row">
                <div class="col-md-6">
                    <center>
                        <i class="fa fa-comments fa-5x"></i>
                    </center>
                </div>

                <div class="col-md-6">
                    <div class="data-numbers">{{model.commentCount}}</div>
                </div>
            </div>
        </div>

        <div class="panel-footer"
             style="background-color: black;color: white;">
            <center>
                <h4>Total Number of Comments</h4>
            </center>
        </div>
    </div>
</div>

<div class="col-md-5 col-md-push-1"  style="margin-top: 20%">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <center>
                        <i class="fa fa-users fa-5x"></i>
                    </center>
                </div>

                <div class="col-md-6">
                    <div class="data-numbers">{{model.userCount}}</div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <center>
                <h4>Total Number of Users</h4>
            </center>
        </div>
    </div>
</div>