
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#!/">
                <span class="glyphicon glyphicon-chevron-left">
            </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.logout()">
                <i class="fa fa-sign-out logout-gly hidden-xs" aria-hidden="true">
                    <label class="logout-label">Logout</label></i>
            </a>
            <i  class=" hidden-sm hidden-md hidden-lg fa fa-bars admin-label" aria-hidden="true"
                data-toggle = "collapse" data-target = "#example-navbar-collapse" >
                <!--<i class="fa fa-bars" aria-hidden="true"></i>-->
            </i>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand brand-name" href="#">StreamHub</a>
        </div>
    </div>
    <div class = "collapse navbar-collapse" id = "example-navbar-collapse">

        <ul class = "nav navbar-nav hidden-sm hidden-md hidden-lg">
            <li class="col-sm-12">
                <a ng-click="model.showDashboard()">
                    <label class="admin-label">Dashboard</label>
                </a>
            </li>
            <li class="col-sm-12">
                <a  ng-click="model.showUsers()">
                    <label class="admin-label">Users</label>
                </a>
            </li>
            <li class="col-sm-12">
                <a  ng-click="model.showComments()">
                    <label class="admin-label">Comments</label>
                </a>
            </li>
            <!--<li class="col-sm-12">-->
                <!--<a ng-click="model.routeAdmin()" class="admin-label">-->
                    <!--<i class="fa fa-user-secret admin-label" aria-hidden="true">-->
                        <!--<label class="admin-label">Admin</label></i>-->
                <!--</a>-->
            <!--</li>-->
            <li class="col-sm-12">
                <a ng-click="model.logout()">
                    <i class="fa fa-sign-out logout-gly" aria-hidden="true">
                        <label class="logout-label">Logout</label></i>
                </a>
            </li>

        </ul>
    </div>
</nav>

<div class="container-fluid marginTop backStyle" style="padding-top: 70px;padding-bottom: 50px" >
    <div class="col-md-12">
        <div class="col-md-3 user-block hidden-xs" >
            <div class="col-md-12" style="padding-top: 5%">
                <center>
                <span style="font-size:8em;" class="glyphicon glyphicon-user user-gly"></span>
                <h3 class="user-name"> Administrator </h3></center>
            </div>

            <ul class="nav in">
                <li class="user-menu">
                    <button type="button" class="btn btn-outline btn-primary btn-lg btn-block user-button"
                            ng-click="model.showDashboard()">
                        <span class="glyphicon glyphicon-dashboard user-action-gly"></span>
                        Dashboard</button>
                </li>

                <li class="user-menu">
                    <button ng-click="model.showUsers()" type="button" class="btn btn-outline btn-primary btn-lg btn-block user-button">
                        <span class="glyphicon glyphicon-user user-action-gly"></span>
                    Users</button>
                </li>

                <li class="user-menu">
                    <button ng-click="model.showComments()" type="button" class="btn btn-outline btn-primary btn-lg btn-block user-button">
                    <span class="glyphicon glyphicon-comment user-action-gly"></span>
                        Comments </button>
                </li>

                <!--<li class="user-menu">-->
                    <!--<button type="button" class="btn btn-outline btn-primary btn-lg btn-block user-button ">-->
                   <!--<span class="glyphicon glyphicon-cog user-action-gly"></span>-->
                        <!--Settings </button>-->
                <!--</li>-->
            </ul>
        </div>

        <div class="col-md-9 user-view-block pre-scrollable" >


            <!--Here insertinf the ng divs-->
            <div ng-switch="model.loadProfileEditdiv">
                <div ng-switch-default>
                    <ng-include src="'views/user/templates/admin-dashboard-comp.view.client.html'"></ng-include>
                </div>
                <div ng-switch-when="USERVIEW">
                    <ng-include src="'views/user/templates/allUserShow-Admin.view.client.html'"></ng-include>
                </div>
                <div ng-switch-when="EDITVIEW">
                    <ng-include src="'views/user/templates/profile-settings.view.client.html'"></ng-include>
                </div>
                <div ng-switch-when="EDITCOMMENTS">
                    <ng-include src="'views/user/templates/user-comments.view.client.html'"></ng-include>
                </div>
            </div>




        </div>

    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right col-md-12 col-xs-12">
            <a>
                <a class="pull-left" style="color: white" >Administrator Page</a>
                <span ng-click="model.routeProfile()" class=" pull-right glyphicon glyphicon-user profile-gly"></span>
            </a>
        </div>
    </div>
</nav>
