<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-click="model.routeLogin()">
                <span class="glyphicon glyphicon-chevron-left">
            </span>
            </a>
        </div>
        <!--<div class="navbar-text pull-right">-->
            <!--<a ng-click="model.updateWidget(model.widget)"> <span class="glyphicon glyphicon-ok"></span>-->
            <!--</a>-->
        <!--</div>-->
        <div class="navbar-header">
            <a class="navbar-brand" href="">Register</a>
        </div>
    </div>
</nav>
<div ng-show="model.error" class="alert alert-danger" role="alert">
    {{model.error}}
</div>
<div class="alert alert-success" ng-show="model.message">
    {{model.message}}
</div>
<div class="container-fluid marginTop backStyle" style="padding-top: 70px;padding-bottom: 70px" >
    <div class="col-md-8">
        <form>
            <div class="form-group">
                <label class="register-label" for="username">Username</label>
                <!--<input type="text" class="form-control" id="username" placeholder="Username">-->
                <input class="form-control" ng-model="model.user.username" type="text" placeholder="Username"/>

            </div>
            <div class="form-group">
                <label class="register-label" for="email">Email address</label>
                <!--<input type="email" class="form-control" id="email" placeholder="alice@wonderland.com">-->
                <input class="form-control" ng-model="model.user.email" id="email" type="email" placeholder="Email"/>

            </div>
            <div class="form-group">
                <label class="register-label" for="first-name">First Name</label>
                <!--<input type="text" class="form-control" id="first-name" placeholder="Alice">-->
                <input class="form-control" ng-model="model.user.firstName"
                                  id="first"
                                  
                                  type="text"
                                  placeholder="First Name"/>
            </div>
            <div class="form-group">
                <label class="register-label" for="last-name">Last Name</label>
                <!--<input type="text" class="form-control" id="last-name" placeholder="Wonderland">-->
                <input  class="form-control" ng-model="model.user.lastName"
                                   id="last"
                                   
                                   type="text"
                                   placeholder="Last Name"/>
            </div>
            <div class="form-group">
                <label class="register-label" >Password</label>
                    <input class="form-control" type="password" ng-model="model.user.password" />
            </div>
            <!--<div class="form-group">-->
                <!--<label class="register-label">Service Type</label>-->
                <!--<input ng-checked="true" class="form-control radio-inline" type="radio" name="TYPE" value="MOVIE"  ng-model="model.user.role">-->
                <!--<span class="register-label">MOVIES</span>-->
                <!--<input class="form-control radio-inline" type="radio" name="TYPE" value="SHOW" ng-model="model.user.role" >-->
                <!--<span class="register-label">SHOWS</span>-->
            <!--</div>-->
            <label class="register-label user-type-class">
                <input class="radio-inline" type="radio" name="TYPE" value="MOVIE"  ng-model="model.user.role">
                MOVIES</label>
            <label class="register-label user-type-class">
                <input class="radio-inline" type="radio" name="TYPE" value="SHOW" ng-model="model.user.role" >
                SHOWS</label>
            <label ng-if="model.showAdmin" class="register-label user-type-class">
                <input ng-if="model.showAdmin" class="radio-inline" type="radio" name="TYPE" value="ADMIN" ng-model="model.user.role" >
                ADMIN</label>





            <!--<div class="form-group">-->
                <!--<label class="register-label" >Service</label>-->
                <!--<input class="form-control radio-inline" style="background-color: white" type="radio" name="role" value="Movies" checked> Movies<br>-->
                <!--<input class="form-control radio-inline" type="radio" name="role" value="Shows"> Shows<br>-->
            <!--</div>-->


            <div class="form-group" style="padding-top: 2%">
                <button ng-click="model.register(model.user)" type="button" class="btn btn-primary col-md-12 col-sm-12 col-xs-12">Register</button>
            </div>
            <div class="form-group col-md-4 col-md-push-4 col-sm-4 col-sm-push-4 col-xs-12" style="padding-top: 3%">
                <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> Sign in with Facebook
                </a>
            </div>
        </form>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">
        <img src="http://s.movie.as/images/p/359207_m1469233525.jpg"
             class="img-rounded poster" width="100%" alt="Cinque Terre" style="opacity: 1; cursor: default;">
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right ">
            <a ng-click="model.routeProfile()">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
