<div class="row" style="padding-left: 10px">
    <div ng-show="model.sentError" class="alert alert-danger" role="alert" >
        {{model.sentError}}
    </div>
    <div class="alert alert-success" ng-show="model.sentSuccessfully">
        {{model.sentSuccessfully}}
    </div>
    <label style="color: whitesmoke">To : {{model.messageUser.username}}</label>
    <div>
        <textarea maxlength="250" ng-model="newMessage" rows="4" ng-model="model.comment" ng-model="searchText" type="text" class="form-control comment-bar"
                  placeholder="Type Message Here" style="width: 100%;height: 200px"></textarea>

    </div>
    <br>
    <button ng-click="model.sendUserMessage(newMessage)" type="button"
            class="btn btn-outline btn-primary btn-lg btn-block user-button ">
        <i class="fa fa-paper-plane user-action-gly"></i>
        Send </button>

    <!--<button class="btn btn-block btn-primary"/>-->
</div>