<div class="row">
    <div class="input-group">
        <input ng-disabled="model.editBarDisable" ng-model="model.editingComment"  type="text" class="form-control comment-bar"
               placeholder="Edit comment here">
        <span class="input-group-btn">
            <a ng-click="model.okClick(model.editingComment)" class="btn btn-default search-button" type="button">
                <span class="glyphicon glyphicon-ok search-gly"></span>
            </a>
        </span>
    </div>
</div>

<div class="row user-single-comment"  ng-repeat="comment in model.comments" style="margin-top: 2%; padding-top: 1%;">
    <div class="col-md-12 col-xs-12">
        <h5 class="col-md-8">{{comment.userName}}</h5>
        <h6 class="col-md-3" ng-bind="comment.dateCreated | date:'medium'"></h6>

        <a ng-show="model.config" ng-click="model.ediComment(comment)" class="col-md-1 ">
            <span class=" glyphicon glyphicon-cog cog-gly"></span>
        </a>

        <a ng-show="model.edit" ng-click="model.removeComment(comment._id)" class="col-md-1 ">
            <span class="glyphicon glyphicon-remove remove-gly"></span>
        </a>

        <p class="col-md-12 wordwrap">
            {{comment.comment}}
        </p>

    </div>
</div>