<nav class="navbar navbar-default navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-click="model.routeShows()">
                <span class="glyphicon glyphicon-chevron-left" style="color: white">
            </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="" ng-click="model.logout()">
                <i class="fa fa-sign-out logout-gly" aria-hidden="true">
                    <label class="logout-label">Logout</label></i>
            </a>
        </div>
        <!--<div class="navbar-text pull-right ">-->
            <!--<a href="" ng-click="" class="admin-label">-->
                <!--<i class="fa fa-user-secret admin-label" aria-hidden="true">-->
                    <!--<label class="admin-label">Admin</label></i>-->
            <!--</a>-->
        <!--</div>-->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <p class="brand-name">StreamHub</p>
            </a>
            <div ng-if="model.showRefresh" class="navbar-header" style="padding-top: 10px">
                <i class=" fa fa-refresh fa-spin fa-2x fa-fw" style="color: whitesmoke;"></i>
                <label class="hidden-xs" style="color: whitesmoke;">Loading episodes...</label>
            </div>
        </div>

        <!--<button class="btn btn-lg btn-warning">-->
            <!--<span class="glyphicon glyphicon-refresh glyphicon-facetime-video fa-spin" style="color: whitesmoke"></span> Loading...-->
        <!--</button>-->
        <!--<i class="faa-spin animated" style="color:whitesmoke;"></i>-->
    </div>
</nav>

<div class="container-fluid marginTop backStyle" style="padding-top: 70px;padding-bottom: 50px" id="detailsPageView">


    <div class="col-md-12">

        <div class="col-md-3" >
            <img src="{{model.media.poster}}"
                 class="img-rounded poster" width="100%" alt="Cinque Terre" style="opacity: 1; cursor: default;">

            <div style="margin-left: 10%">
                <div style="padding-top: 5%; margin-top: 5%">
                    <h5 style="color: white">Rating: {{model.media.rating}}</h5>
                </div>
                <div>
                    <h5 style="color: white">First Aired: {{model.media.first_aired}}</h5>
                </div>
                <div>
                    <h5 style="color: white">Duration: {{model.media.runtime}} min</h5>
                </div>

                <div style="padding-top: 5%; margin-top: 10%; margin-bottom: 15%; padding-bottom: 5%">
                    <button style="cursor: pointer" ng-disabled="model.saved" ng-click="model.saveMedia()" type="button" class="btn btn-primary col-md-12 col-sm-12 col-xs-12">
                        <span ng-if="model.saved==1">Saved !!</span>  <span ng-if="!model.saved">Save Media</span>
                    </button>
                </div>
                <!--<div class="hidden-lg hidden-md"-->
                     <!--style="padding-top: 5%; margin-top: 10%; margin-bottom: 15%; padding-bottom: 5%">-->
                    <!--<button type="button" class="btn btn-primary col-md-12 col-sm-12 col-xs-12">Watch Trailer</button>-->
                <!--</div>-->
            </div>

        </div>

        <div class="col-md-8 col-md-push-1 details-data">
            <div class="col-md-12">
                <h2>{{model.media.title}} </h2>
            </div>

            <div class="col-md-12 details-data details-section pre-scrollable">
                <p>
                    {{model.media.overview}}
                </p>

                <div style="padding-top: 2%;">
                    Starring: <span ng-repeat="star in model.media.cast">
                       <a class="a-link" target="_blank" href="http://www.imdb.com/name/{{star.imdb}}"> {{star.name}} </a></span><br><br>
                    Status: <span style="color:#aaaaaa">{{model.media.status}}</span>
                    <!--<span ng-repeat="write in model.media.status">-->
                       <!--<a class="a-link" target="_blank"href="http://www.imdb.com/name/{{write.imdb}}"> {{write.name}} </a> </span><br><br>-->
                    <!--Directors: <span ng-repeat="director in model.media.directors">-->
                       <!--<a class="a-link"  target="_blank" href="http://www.imdb.com/name/{{director.imdb}}"> {{director.name}} </a></span><br><br>-->
                    <br><br>
                    Genre : <span style="color:#aaaaaa" ng-repeat="genre in model.media.genres"> {{genre.title}} </span>
                    <br><br>
                    Air-Time : <span style="color:#aaaaaa" > ({{model.media.air_day_of_week}} : {{model.media.air_time}}) </span>
                    </p>
                </div>

            </div>

            <div class="col-md-12 col-xs-12 comment-section pre-scrollable" style= "margin-top:5%">
                <div class="row">
                    <div class="input-group">
                        <input maxlength="100" ng-model="model.comment" ng-model="searchText" type="text" class="form-control comment-bar"
                               placeholder="Add comment here">
                        <span class="input-group-btn">
                                <a ng-click="model.addComment(model.comment)" class="btn btn-default search-button" type="button">
                                    <span class="glyphicon glyphicon-plus search-gly"></span>
                                </a>
                           </span>
                    </div>
                </div>

                <div ng-repeat="source in model.comments" class="row" style="margin-top: 2%; padding-top: 1%;">
                    <div class="col-md-12 col-xs-12 single-comment">
                        <h5 class="col-md-9">{{source.userName}}</h5>
                        <h6 class="col-md-3 text-md-right" ng-bind="source.dateCreated | date:'medium'"></h6>
                        <p class="col-md-12">
                            {{source.comment}}
                        </p>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="row display-grid-layout show-grid">
        <div class="col-md-12 col-sm-12 col-xs-12 pre-scrollable" >
            <div class="col-md-2 col-sm-4 col-xs-6" ng-repeat="movie in model.allEpisodes">
                <!--<p>TITLE: {{movie.original_title}}</p>-->

                <a href="{{movie.purchase_web_sources[0].link}}">
                <div  class="detail-caption">
                    <label>Season: {{movie.season_number}}</label><br>
                    <label>Episode: {{movie.episode_number}}</label>
                </div>

                <img class="img-rounded poster" width="100%"
                     ng-src="{{movie.thumbnail_608x342}}"/>
                </a>
                <!--<img ng-if="model.currentUser" ng-click="model.routeToDetails(movie.id)" class="img-rounded poster" width="100%"-->
                     <!--ng-src="{{model.parseIntoHttps(movie.poster_400x570)}}"/>-->
                <!--<img ng-if="!model.currentUser" data-toggle="tooltip" title="Please Login to Continue"  class="img-rounded poster red-tooltip" width="100%"-->
                     <!--ng-src="{{model.parseIntoHttps(movie.poster_400x570)}}"/>-->
                <!--<img ng-if="{{movie.artwork_448x252}}" ng-click="model.routeToDetails(movie.id)" class="img-rounded poster" width="100%"-->
                <!--ng-src="{{movie.artwork_448x252}}"/>-->
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right ">
            <a ng-click="model.routeProfile()">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>